<% if @evaluation_request.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      正しく入力されていない項目が <%= pluralize(@evaluation_request.errors.count, "") %>個あります。メッセージをご確認の上、もう一度ご入力ください。
    </div>
    <ul>
      <% @evaluation_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
