<div id="city_links_box">
  <% @cities.each do |city| %>
    <%= link_to city.name, prefecture_city_path(prefecture_id: city.prefecture_id, id: city.id) %>
  <% end %>
</div>

<div id="top_link">
  <%= link_to 'Top', prefectures_path %>
</div>
